/* BASIC STYLE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: #204066;
}
.container{
    padding: 10px 10%;
}

/* HEADER */
.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.admin{
    display: flex;
    align-items: center;
    gap: 5px;
}
.admin-details{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.admin-info{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 400px;
    align-items: center;
}
.error {
    border-color: red;
}
.error_label{
    display: none;
    color: red; 
    display: none; 
    font-size: 13px; 
    margin-left: 460px;
    margin-top: -20px;
    margin-bottom: -20px;
    
}
.error_labell{
    display: none;
    color: red; 
    display: none; 
    font-size: 13px; 
    margin-left: 460px;
    margin-top: -70px;
    margin-bottom: -20px;
    
}
.admin-info p{
    color: white;
    flex-basis: 100%;
    text-align: left;
    font-size: 13px;
}
.logo{
    background: url("../images/logo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: 325px;
    margin-left: -70px;
}
.icon{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 125px;
    width: 100px;
}

/* MAIN */
.main__wrapper{
    display: flex;
    gap: 30px;
    margin-left: -50px;
}
/* MENU */
.menu {
    display: flex;
    flex-direction: column;
    padding: 40px 15px;
    width: 275px;
    gap: 30px;
}
.menu a {
    padding: 5px 20px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
    transition: background-color 0.5s, color 0.5s;
}
.menu a:hover{
    background: #727272;
    border-bottom: 1px solid #DFBC5F;
    box-shadow: #000000;
}
#selected{
    color: #204066;
    background: #DFBC5F;
    border: 1px solid #f7d36f;
    font-weight: 600;
}
#selected::before{
    content: ">>>";
}

/* MAIN CONTENT */

.page-name h1{
    text-transform: uppercase;
    color: #DFBC5F;
    font-weight: 400;
    font-size: 29px;
    margin-bottom: 35px;
    margin-left: 46px;
    margin-top: -30px;
}

table, tr, td{
    border: 2px solid white;
    border-collapse: collapse;
    color: white;
    align-items: center;
}
.id{
    min-width: 50px;
    text-align: center;
    font-size: 16px;
    padding: 5px 10px;
}
.code{
    min-width: 100px;
    text-align: left;
    font-size: 16px;
    padding: 5px 10px;
}
.course-name{
    min-width: 300px;
    text-align: left;
    font-size: 16px;
    padding: 5px 10px;
}
.group{
    min-width: 50px;
    text-align: left;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
}
#reason{
    min-width: 50px;
    text-align: left;
    font-size: 16px;
    padding: 5px 10px;

    background: white;
    width: 250px;
    border-radius: 15px;
    color: black;
    font-size: 16px;
    padding: 5px 10px;

}
.date{
    min-width: 50px;
    text-align: left;
    font-size: 16px;
    padding: 5px 10px;
}
.status{
    min-width: 50px;
    text-align: left;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
}
.btn.select{
    color: #DFBC5F;
    border: 1px solid;
    background-color: #7d7f81;
    border-radius: 20px;
    margin-bottom: 4px;
    margin-right: 3px;
    margin-left: 3px;
}
.btn{
    background: none;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: white;
    padding: 5px 10px;
    border-collapse: collapse;
}
.btn:first-child{
    border-right: 1px solid white;
}
.btn:last-child{
    border-left: 1px solid white;
}
.day{
    background: none;
    text-align: center;
}
.buttons{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.buttons button{
    padding: 5px 10px;
    font-size: 18px;
    background: #DFBC5F;
    border-radius: 15px;
    border: 1px solid white;
}
.logout{
    width: 100%;
}
.logout button{
    width: 100%;
    padding: 5px 20px;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 20px;
    transition: background-color 0.5s, color 0.5s;
}
.logout button:hover{
    background: #727272;
    border-bottom: 1px solid #DFBC5F;
    box-shadow: #000000;
}

.absence-form{
    width: 700px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 47px;
}
#tooltip {
    display: none; /* Скрыть по умолчанию */
    position: absolute;
    background-color: #969ba0;
    border: 1px solid #DFBC5F;
    padding: 5px;
    z-index: 1000;
    border-radius: 20px;
}

.label{
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    margin-left: 10px;
}
.label input{
    background: white;
    width: 250px;
    border-radius: 15px;
    color: black;
    font-size: 16px;
    padding: 5px 10px;
}
.notif p{
    position: absolute;
    margin-left: 400px;
    right: 250px;
    top: 190px;
    color: white;
    background: green; /* Fill the border with lightgreen */
    border-radius: 20px;
    padding: 5px;
}

.table-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 800px; /* Устанавливаем ширину в 100% */
    overflow-x: auto; /* Добавляем горизонтальную прокрутку при необходимости */
    max-height: 500px; /* Ограничиваем максимальную высоту, чтобы предотвратить избыточную прокрутку */
    overflow-y: auto; /* Добавляем вертикальную прокрутку при необходимости */
}

/* Стили для контейнера attendance-data-container */
.attendance-data-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 800px; /* Устанавливаем ширину в 100% */
    overflow-x: auto; /* Добавляем горизонтальную прокрутку при необходимости */
    max-height: 500px; /* Ограничиваем максимальную высоту, чтобы предотвратить избыточную прокрутку */
    overflow-y: auto; /* Добавляем вертикальную прокрутку при необходимости */
}

/* Стили для контейнера displayAttendanceDataForSections */
.displayAttendanceDataForSections {
    margin-top: 50px;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 800px; /* Устанавливаем ширину в 100% */
    overflow-x: auto; /* Добавляем горизонтальную прокрутку при необходимости */
    max-height: 500px; /* Ограничиваем максимальную высоту, чтобы предотвратить избыточную прокрутку */
    overflow-y: auto; /* Добавляем вертикальную прокрутку при необходимости */
}


.change{
    /* display: flex; */
    border-bottom: 2px solid white;
    width: 750px;
    margin-left: 46px;
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
} */
/* .logout{
    width: 100%;
}
.logout button{
    width: 100%;
    padding: 5px 20px;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 20px;
    transition: background-color 0.5s, color 0.5s;
}

.logout button:hover{
    background: #727272;
    border-bottom: 1px solid #DFBC5F;
    box-shadow: #000000;
} */

/* .btn{
    background: none;
    cursor: pointer;
    border: none;
    color: white;
    padding: 5px 10px;
    border-collapse: collapse;
}
.btn:first-child{
    border-right: 1px solid white;
}
.btn:last-child{
    border-left: 1px solid white;
}

.choose{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 400px;
    height: 400px;
}
#selected{
    color: #204066;
    background: #DFBC5F;
    border: 1px solid #f7d36f;
    font-weight: 600;
} */

/* Styling for div4 */



.btn.select{
    color: #DFBC5F;
    border: 1px solid;
    background-color: #7d7f81;
    border-radius: 20px;
    margin-bottom: 4px;
    margin-right: 3px;
    margin-left: 3px;
}


.custom-upload-btn {
    display: inline-block;
    background-color: #DFBC5F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
.custom-upload-btn:hover {
    background-color: #DFBC5F;
  }
  
.upload-container {
    /* margin: 20px; */
    text-align: center;
}
#section{
    min-width: 50px;
    text-align: left;
    font-size: 16px;
    padding: 5px 10px;

    background: white;
    width: 250px;
    border-radius: 15px;
    color: black;
    font-size: 16px;
    padding: 5px 10px;

}

#uploadBtn {
    /* background-color: orange; */
    /* color: white; */
    /* border: none; */
    /* padding: 10px 20px; */
    /* cursor: pointer; */
    /* font-size: 16px; */

    display: inline-block;
    /* background-color: #DFBC5F; */
    color: white;
    /* padding: 10px 20px; */
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;


    min-width: 50px;
    /* text-align: left; */
    font-size: 16px;
    padding: 5px 10px;
    margin-left: 50px;
    width: 250px;
    border-radius: 15px;
    color: white;
    background-color: #DFBC5F;
    font-size: 15px;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;

}

#file-chooser {
    margin-top: 10px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content/Box */
.modal-content {
    background-color: #efebe0;
    border-radius: 15px;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 450px; /* Could be more or less, depending on screen size */
    height: 200px;
}

.question{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #204066;
    font-weight: bold;
    font-size: 17px;
    margin-top: 20px;
}

.close {
    float: right; /* Floats the button to the right side of its containing element */
    font-size: 25px;
    font-weight: 100px;
    cursor: pointer; 
    margin-top: -15px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
  
.modal-btn {
    margin-top: 80px;
    margin-left: 20px; /* Apply the margin to both buttons for consistency */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
    transition: background-color 0.3s ease; /* Smooth transition for the background color */
    padding: 10px 20px; /* Adjust padding to your preference */
    border: none; /* Remove border */
    border-radius: 5px; /* Optional: adds rounded corners */
    background-color: #dd6565; /* Initial background color */
    color: #000; /* Text color */
}

/* Hover styles for modal buttons */
.modal-btn:hover {
    background-color: #e8a2a2; /* Darker shade on hover */
    color: #333; /* Optionally change text color on hover */
}
#confirmSubmit {
    background-color: #45a049; /* Green background */
    color: white; /* White text */
}

#confirmSubmit:hover {
    background-color: #74b277; /* Darker green on hover */
}

#section{
    min-width: 50px;
    text-align: left;
    font-size: 16px;
    padding: 5px 10px;

    background: white;
    width: 250px;
    border-radius: 15px;
    color: black;
    font-size: 16px;
    padding: 5px 10px;

}